@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,400&display=swap");

* {
  font-family: "Nunito", sans-serif;
  color: #555;
}
.game-app {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  margin: 50px 0px;
  padding: 20px 20px;
  background-color: #eee;
  border-radius: 30px;
}

.icon {
  width: 50px;
  margin-right: 25px;
}
.icon-row {
  display: flex;
}
.win-alert,
.lost-alert {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 200px;
  margin: 25px 0px;
  text-align: center;
  border-radius: 20px;
  background-color: white;
  box-shadow: 0px 4px 10px #333;
}

.win-alert {
  border: 3px solid rgba(100, 255, 100, 1);
}

.lost-alert {
  border: 3px solid rgba(255, 100, 100, 1);
}

.alert-area {
  display: flex;
  flex-direction: column;
}

.topBar {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
}

body {
  margin: 0;
  padding: 0;
}

.game-cup {
  position: relative;
  color: white;
  background: linear-gradient(180deg, #5337ff 0%, #91e4ff 100%);
  border-radius: 20px;
  border: transparent;
  box-shadow: 0px 2px 5px #333;
  margin: 10px;
  padding: 5px;
  cursor: pointer;
}

.game-cup:hover {
  color: #333;
  bottom: -3px;
  background-color: white;
  animation: push;
  animation-duration: 0.1s;
  animation-fill-mode: forwards;
}

@keyframes push {
  0% {
    bottom: 0px;
    box-shadow: 0px 2px 5px #333;
  }
  100% {
    bottom: -3px;
    box-shadow: inset 0px 2px 5px #333;
  }
}

input[type="text"] {
  border-radius: 10px;
  border: 1px solid #333;
  padding: 3px;
}

button {
  border-radius: 10px;
  border: transparent;
  padding: 5px 10px;
  color: white;
  background: linear-gradient(180deg, #5337ff 0%, #91e4ff 100%);
  transition: 0.1s ease-in-out;
  cursor: pointer;
}

button:hover {
  box-shadow: inset 0px 2px 5px #333;
}

.clearButton{
  width: 100%;
  background: linear-gradient(180deg, #FFAAAA 0%, #FF6868 100%);
}

.alert-area {
  margin: 50px 0px;
  padding: 20px 20px;
  background-color: #eee;
  border-radius: 30px;
}

.wrapper-page {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: absolute;
  width: 100%;
  height: 200%;
  overflow: hidden;
  background: linear-gradient(
    360deg,
    rgba(0, 242, 96, 1) 0%,
    rgba(5, 117, 230, 1) 100%
  );
}

/* Animation; using nth-childs you can apply multiple styles to different divs from the ordering of the html.*/

.box div {
  position: absolute;
  width: 60px;
  border-radius: 50%;
  height: 60px;
  background-color: rgba(255, 255, 255, 0.5);
}

.box div:nth-child(1) {
  top: 12%;
  left: 42%;
  animation: animate 7s linear infinite;
}

.box div:nth-child(2) {
  top: 70%;
  left: 50%;
  animation: animate 15s linear infinite;
}
.box div:nth-child(3) {
  left: 6%;
  top: 36%;
  animation: animate 10s linear infinite;
}

.box div:nth-child(4) {
  left: 100%;
  top: 10%;
  animation: animate 10s linear infinite;
}

.box div:nth-child(5) {
  top: 24%;
  left: 56%;
  animation: animate 12s linear infinite;
}

.box div:nth-child(6) {
  top: 80%;
  left: 70%;
  animation: animate 8s linear infinite;
}

.box div:nth-child(7) {
  top: 60%;
  left: 80%;
  animation: animate 4s linear infinite;
}

.box div:nth-child(8) {
  top: 32%;
  left: 25%;
  animation: animate 12s linear infinite;
}

.box div:nth-child(9) {
  top: 20%;
  left: 80%;
  animation: animate 9s linear infinite;
}

.box div:nth-child(10) {
  top: 90%;
  left: 10%;
  animation: animate 9s linear infinite;
}

.wrapper-app {
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0px 4px 20px #000;
  margin: 5% 20%;
  padding: 5% 5%;
}

@keyframes animate {
  0% {
    transform: scale(0) translateY(0) rotate(0);
    opacity: 1;
  }
  100% {
    transform: scale(1.3) translateY(-90px) rotate(360deg);
    opacity: 0;
  }
}

#scoreBoard {
  margin-left: 10px;
}

#scoreBoard,
#winStreak {
  display: flex;
  align-items: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #333;
  font-family: "Poppins", sans-serif;
}

@media screen and (max-width: 768px) {
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 .topBar {
    text-align: center;
  }
  .icon-row {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .icon {
    margin-right: 0px;
  }
  .topBar {
    grid-template-columns: 1fr;
    margin-bottom: 30px;
  }
  #scoreBoard {
    margin-left: 0;
  }
  #scoreBoard,
  #winStreak {
    justify-content: center;
  }

  .wrapper-app {
    margin: 5% 5%;
  }
}
